.main {
    height: 100vh;
    width: 100%;
    color: #7F6269;
    background-color: #0E1627;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: black;
    padding: 2vw 2vw;
    border-radius: 12px;

}

button {
    color: #BD8E89;
    background-color: #E5C5C1;
    border: none;
    padding: 1vw;
    margin: 0.2vw;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.15s ease, background 0.15 ease;

}

button:hover {
    background-color: #0E1627;
    color: #F4E1E0
}

button:active {
    transform: scale(0.95);
}

.calculate {
    width: 100%;
    height: 80px;
    border-radius: 12px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 12px;
    box-shadow: 0 4px 20px rgba(165, 159, 159, 0.25);
    overflow: hidden;
}

#history {
    min-height: 25px;
    color: #bbb;
    font-size: 1rem;
    text-align: right;
}

#output {
    color: #E5C5C1;
    font-size: 2.8rem;
    text-align: right;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn {
    border-radius: 12px;
    padding: 22px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    box-shadow: 0 4px 20px rgba(165, 159, 159, 0.25);
}

.dot {
    font-size: 20px;
}

.operator {
    color: #0E1627;
    background-color: #ff9f0a;
}

.number {
    background-color: #2b2b2b;
}

.function {
    background-color: #505050;
}

@keyframes typepop {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    60% {
        opacity: 1;
        transform: scale(1.08);
    }
}